body {
    margin: 0;
    padding: 0;
    place-items: center;
    background-color: rgb(235, 132, 64);

}

#playarea {
    display: flexbox;
    justify-content: center;
    width: 1300px;
    height: 700px;
    background-image: url(../images/background_img.png);
    object-fit: contain;
    text-align: center;
    position: relative;
    border: 2px, solid black;
    border-radius: 10px;
    overflow: hidden;
}

#player {


    object-fit: fill;
    position: absolute;

}
@keyframes wave {
    0%, 100% {
      text-shadow: 0 0 5px #e92ac0;
    }
    50% {
      text-shadow: 0 5px 10px blue;
    }
  }
  h1  {
    font-size: 40px;
    font-weight: bold;
    background-color: none;
    animation: wave 2s infinite ease-in-out;
  }
h1 {
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px black;
    color: rgb(228, 208, 34);
}

#point {

    position: absolute;
    font-size: 24px;
    font-weight: bold;
    top: 100px;
    left: 10px;
    color:indigo;
}

.crystal,
.stone,
.Yellowstone,
.Greenstone {

    position: absolute;

}

#gameover {
    position: absolute;
    color: rgb(1, 129, 29);
    font-size: 24px;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#time {
    text-align: right;
    font-size: 24px;
    top: 25px;
    font-weight: bold;
    color:indigo;
    ;
}