body {
    margin: 0;
    padding: 0;
}

#playarea {

    height: 750px;
    background-color: thistle;
    text-align: center;
    position: relative
}

#player {
    background-color: coral;
    position: absolute;
}

.crystal{
    background-color: darkviolet;
    position: absolute;
}
#point{
    position:absolute;
    font-size: 24px;
    font-weight: bold;
    top: 40px;
    left: 10px;
}